/******************************
GENERAL
*******************************/

img {
	max-width: 100%;
}

body {
	margin: 0;
	background-color: #e9eeef;
}

div {
	display: block;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: none;
}

/******************************
HEADER
*******************************/

header {
	background-color: #265060;
	padding-bottom: 0.25px;
}

header h1 {
	padding-top: 20px;
	margin: 0 auto 0;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
}

nav {
	text-align: center;
	max-width: 100%;
	margin: auto;
}

nav ul {
	margin-top: 30px;
	margin-bottom: 8px;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style: none;
	font-size: 1.25em;
	font-family: 'Roboto Slab', serif;
	color: #4c3830;
}



.tabs {
	background-color: #92a7af;
	padding: 10px;
	border-top-left-radius: 5px;
}

#current {
	background-color: #bdcacf;
}

.otherTabs {
	box-shadow: inset 0px -4px 10px #51727f;
}

.otherTabs:hover {
	box-shadow: inset 0px -6px 15px #486672;
}


.tabs:hover {
	/*box-shadow: inset -3px -3px 6px #3A510E;*/
}

.tabs:active {
	/*color: #462681;*/
}

/******************************
SECTION
*******************************/

p {
	font-family: 'Lato', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	background-color: #bdcacf;	
	padding: 10px 5%;
}

#left_section, #right_section {
	display: block;
	width: 45%;
	float: left;
	padding-top: 10px;
}

#right_section {
	float: right;
}

img {
	display: block;
	max-width: 60%;
	margin: 0 auto;
	border: 1px solid black;
	box-shadow: 5px 5px 20px black;
}

h2 {
	padding: 0 0 5px 3px;
	border-bottom: 2px dashed black;
}


/******************************
FOOTER
*******************************/

#separacion {
	clear: both;
	border-bottom: 2px dotted #000;
	margin: 20px;
	padding: 10px 0;
}

footer {
	margin: 20px 0 0 0;
	display: block;
	padding: 0 0 35px 0;
}

footer p {
	text-align: center;
	padding: 1px 0;
	margin: 0;
}